name: Test

on:
  workflow_dispatch:
  push:

jobs:
  tests:
    name: Run test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # - name: Run test
      #   run: pnpm run test
